[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/BoyerMoore-DontCare"]
	path = lib/BoyerMoore-DontCare
	url = https://github.com/Therdel/BoyerMoore-DontCare
	branch = dontcare
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
